.view-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.badge{
    padding: 5px;
    border-radius: 7px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: green;
    color: white;
    border: none;
    height: 40px;
}

.offer-section{
    height: 60vh;
    /* background-color: lime; */
    margin-bottom: 25px;
    overflow-y: scroll;
}

.offer-card {
    margin-bottom: 5px;
    padding: 15px;
}
